<section>
  <h4><%= t(".title", name: @shop.name) %></h4>
  <% Day.week_days.each do |day_name, day_order| %>
    <p id="<%= "#{day_name}-openings-block" %>">
      <strong><%= day_name.capitalize %> : </strong>
      <% day_openings = @shop.openings.select(&"on_#{day_name}".to_sym) %>
      <% if day_openings.empty? %>
        Closed
      <% else %>
        <% day_openings.each do |opening| %>
          <%= opening.display_opening_time %>
        <% end %>
      <% end %>
    </p>
  <% end %>
</section>
